#header
{
    background-color: black;
    text-align: center;
    height: 80px;
    line-height: 80px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    max-width: 800px;
}

#cities
{
    display: inline-block;
    height:100px;
    line-height: 100px;
    width: 100px;
}


#bottom
{
    background-color: black;
    text-align: center;
    height: 30px;
    line-height: 30px;
    color: white;
    font-size: 15px;
    max-width: 800px;
}

a{
    text-decoration: none;
    color:black;
}